* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: "Science Gothic", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header img {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2)
}

header p {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

header a,
header a:link,
header:visited {
    color: black;
}