* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: "Science Gothic", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}