* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

:root {
    --dark-bg: #2d2c18;
    --light-bg: #4d4c3b;
    --font-color: rgb(230, 230, 230);
    --red: #951a1e;
    --dark-red: #391109;
    --orange: #ae4525;
    --eye: #a594b8;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: "Science Gothic", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}

header img {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2)
}

header p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    text-align: center;
}

header a,
header a:link,
header:visited {
    color: black;
    font-weight: bold;
}


main {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    color: var(--font-color);
    flex-grow: 1;
}

.introduction {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 3rem;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.introduction p:last-child {
    margin-top: 0.5rem;
    font-weight: bold;
}

form {
    background-color: var(--light-bg);
    padding: 2rem 5rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form h2 {
    margin-bottom: 1rem;
}

form .row {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

form .row p {
    position: relative;
    display: flex;
}

form .row p input {
    width: 15rem;
    padding: 0.2rem;
    background-color: var(--dark-bg);
    color: var(--font-color);
}


form .row p input:invalid:not(:placeholder-shown) {
    outline-color: var(--red);
    border: 2px solid var(--red);
}

form .row p input:valid {
    outline-color: var(--eye);
    border: 2px solid var(--eye);
}

form .row p label {
    position: absolute;
    top: -1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
}

button[type="submit"] {
    margin-top: 2rem;
    background-color: var(--red);
    width: max-content;
    margin-left: 3rem;
    padding: 1rem 2.5rem;
    color: var(--font-color);
    border: 2px solid var(--light-bg);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: var(--orange);
}

button[type="submit"]:active {
    background-color: var(--dark-red);
}

.login {
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
}

.login a {
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
}

.login a:visited,
.login a:link {
    color: var(--red);
}